{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Homepage{% endblock %}

{% block body %}


	{% if user.is_authenticated %}
		<h1>{% trans "Welcome to the Biodiesel Social Network" %}</h1>
			
		<p>
		    {% blocktrans %}
		    <b>A biodiesel social network</b> is a website where you can discuss
		    biodiesel topics with others.
		    {% endblocktrans %}
		</p>
		
		
		<h2>{% trans "About this site" %}</h2>
		
		<p>
		    {% blocktrans %}
		    This site is experimental.  At this stage, it includes 
		    profiles, discussion topics, tasks, wikis, bookmarks, notices of events, and user-to-user messaging.
		    {% endblocktrans %}
		</p>


		<h2>{% trans "Topics vs Wikis" %}</h2>
		
		<ul>
		    {% blocktrans %}
		    <li>Both Topics and Wikis contain articles written by site members.</li>
		    <li>Topics may have comments by other site members, and replies to the comments, forming threaded discussions.</li>
		    <li>Topic and comment contents may not be changed by other members.</li>
		    <li>Wiki articles can be changed by other members, and keep a change history that allows changing back to a previous version.</li>
		    <li>Wiki articles may be formatted to include headings, images, bulleted and numbered lists, and tables, while Topics are unformatted.</li>
			<li>In general, Topics are suitable for short-lived group discussions, while Wiki articles are suitable for long-lived documents.</li>
		    {% endblocktrans %}
		</ul>

	{% else %}

		<h3>
		    This site is a social network for a biodiesel group in the Driftless Region of western Wisconsin.<br />
			If you would like to become a member, please <a href="{% url send_email %}" target="_blank">send us an email</a>.
		</h3>

	{% endif %}

{% endblock %}
