{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Homepage{% endblock %}

{% block body %}


	{% if user.is_authenticated %}
		<h1>Welcome to the Southwest Wisconsin Community Bio-fuel Site</h1>
			
		<h3>
			where we will keep each other up to date on the progress of our initiative and share knowledge. 
		</h3>
		
		
		<h2>{% trans "About this site" %}</h2>
		
		<p>
		    This site includes discussion topics, tasks, wikis, bookmarks, profiles and event notification options.
		</p>



	{% else %}

		<h3>
		    This site is a social network for a biodiesel group in Southwest Wisconsin.<br />
			If you would like to become a member, please <a href="{% url send_email %}" target="_blank">send us an email</a>.
		</h3>

	{% endif %}

{% endblock %}
